body{
font-size: 16px;
line-height: 1.5;
font-family: "Roboto";
}
.site-header {
  background-color: white;
}

.sitenav-list {
  list-style: none;
}

.sitenav-link {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.main-link {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: white;
  text-decoration: none;
}

.hero {
  background-color: #252420;
  color: white;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-family: "Roboto Condensed";
  font-size: 40px;
  line-height: 1.2;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.features-heading {
  font-family: "Roboto Condensed";
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
}

.feature {
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background: rgba(225, 117, 0, 0.2);
}

.feature-title {
  font-family: "Roboto Condensed";
  font-size: 24px;
  line-height: 1.2;
}

.promo {
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48;
  font-family: "Roboto Condensed";

}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer {
  border-color: #f8f8f8;
}

.site-footer ul {
  list-style-type: none;
}

.site-footer-devider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5)
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}